<%= live_component @socket,
  HexbearWeb.Components.Icons.BaseIcon,
  name: "share",
  viewBox: ~L"""
    "0 0 24 24"
  """,
  width: "20px",
  height: "20px",
  fill: "#dedede",
  paths: ~L"""
    <path d="M20,6v9H18a1.94,1.94,0,0,0-.89.21l-3.94,2-.27-.81A2,2,0,0,0,11,15H4V6H20m0-2H4A2,2,0,0,0,2,6v9a2,2,0,0,0,2,2h7l1,3,6-3h2a2,2,0,0,0,2-2V6a2,2,0,0,0-2-2Z" />
  """
%>
