<%= live_component @socket,
  HexbearWeb.Components.Icons.BaseIcon,
  name: "like",
  viewBox: ~L"""
    "0 0 24 24"
  """,
  width: "20px",
  height: "20px",
  fill: "#dedede",
  paths: ~L"""
    <path d="M4,10a2,2,0,1,0,2,2,2,2,0,0,0-2-2Z" />
    <path d="M12,10a2,2,0,1,0,2,2,2,2,0,0,0-2-2Z" />
    <path d="M20,10a2,2,0,1,0,2,2,2,2,0,0,0-2-2Z" />
  """
%>
