<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Hexbear", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header class="shadow">
      <nav role="navigation">
        <a href="/" class="navbar-brand">
          <img
            src="<%= Routes.static_path(@conn, "/images/hexbear_head.svg") %>"
            class="icon-navbar"
            alt="Hexbear Logo"
          />
        </a>
        <a href="/" class="navbar-brand">
          <h5>Hexbear</h5>
        </a>
        <%= render "_user_menu.html", assigns %>
      </nav>
    </header>
    <div class="navbar-spacer"></div>
    <div class="container">
      <%= @inner_content %>
    </div>
  </body>
</html>
